<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Amish Doink Forum</title>
  </head>
  <body>
    <h1>Amish Doink Forum</h1>
    <h2>~--------------~</h2>
    <%= yield %>
  </body>
</html>
